body {
  font-family: "Indie Flower", cursive;
}
.nav-link {
  font-size: 36px;
  text-decoration: none;
}
.text-primary {
  color: goldenrod !important;
}
.btn-primary {
  color: goldenrod;
  background-color: black;
  border: goldenrod;
}
.btn-primary:hover {
  color: black;
  background-color: goldenrod;
  border: goldenrod 1px;
}
