{% extends 'base.html.twig' %} {% block title %} About me {% endblock %} {%
block body %}
<section class="container col d-flex my-5" id="about-me">
  <div class="card bg-black text-primary w-50 px-2">
    <h1>About Me</h1>
    <img src="images/profile1.jpg" class="card-img-top" alt="..." />
  </div>
  <div
    class="container card-body w-50 text-primary px-2 d-flex align-items-center"
  >
    <div class="container">
      <h5 class="card-title px-2">BenSen Rasa</h5>
      <p class="card-text px-2">
        As vardu Rasa, sukuriau savo eyelashes linija. As vardu Rasa, sukuriau
        savo eyelashes linija.As vardu Rasa, sukuriau savo eyelashes linija.As
        vardu Rasa, sukuriau savo eyelashes linija.As vardu Rasa, sukuriau savo
        eyelashes linija.
      </p>
    </div>
  </div>
</section>
{% endblock %}
