{% extends 'base.html.twig' %} {% block title %} My services {% endblock %} {%
block body %}

<section class="container col my-5" id="my-services">
  <div class="row text-primary">
    <h1>My Services</h1>
    <iframe
      src="https://book.heygoldie.com/BenSen-lashes"
      width="1000"
      height="800"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-refferer-when-downgrade"
    ></iframe>
  </div>
</section>

{% endblock %}
