{% extends 'base.html.twig' %}{% block title %} My Cart {% endblock %} {% block
body %}
<div class="container col my-5">
  <div class="row bg-black text-primary container">
    <div class="col-3">
      <div class="card h-75 bg-black border-light text-center">
        <img
          class="h-50 w-50 px-1 py-1 rounded"
          {#
          src="data:{{-----}};base64,{{ ----}}"
          #}
          alt=".."
        />
        <div class="card-body">
          <h3 class="card-title">----</h3>
          <p>---</p>
          <p>Price:<b>---- </b></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
